<section class="py-10 md:py-20">
  <div class="mx-auto max-w-xl px-5 md:max-w-3xl lg:max-w-5xl">
    <h2 class="text-3xl font-bold text-center md:text-4xl"><%= t('.title') %></h2>
  </div>
  <div class="mt-10 md:mt-20">
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScHpo5PGPzOT2AlN4lax8mKRq0vMs85vWqot0RMpJRJfvmRXQ/viewform?embedded=true" width="640" height="1150" frameborder="0" marginheight="0" marginwidth="0" class="w-full h-[1400px] md:mx-auto md:h-[1150px]">読み込んでいます…</iframe>
  </div>
</section>
