<% if resource.errors.any? %>
  <div id="error_explanation" class="mb-5" data-turbo-cache="false">
    <ul class="pl-5">
      <% resource.errors.full_messages.each do |message| %>
        <li class="list-disc text-red-500 text-base"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
