<footer class="py-10 bg-footer-color">
  <ul class="flex flex-col md:flex-row md:justify-center md:gap-5">
    <li>
      <%= link_to t('footer.terms_of_service'), '#', class: 'block p-3 text-white text-center md:inline-block hover:underline' %>
    </li>
    <li>
      <%= link_to t('footer.privacy_policy'), privacy_path, class: 'block p-3 text-white text-center md:inline-block hover:underline' %>
    </li>
    <li>
      <%= link_to t('footer.contact'), '#', class: 'block p-3 text-white text-center md:inline-block hover:underline' %>
    </li>
  </ul>
  <p class="mt-5 text-white font-medium text-center">© 2024 CodeSheet All Rights Reserved.</p>
</footer>