<section class="py-10 md:py-20">
  <div class="mx-auto max-w-xl px-5 md:max-w-3xl lg:max-w-5xl">
    <h2 class="text-3xl font-bold text-center md:text-4xl">コード一覧</h2>
    <% if @posts.present? %>
      <div class="grid grid-cols-1 gap-5 mt-10 md:grid-cols-2 md:gap-10 lg:grid-cols-3">
        <%= render @posts %>
      </div>
    <% else %>
      <p class="mt-10 text-lg text-center md:mt-20">現在、投稿がありません。</p>
    <% end %>
  </div>
</section>
