@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #F1F1F2;
    color: #333;
    font-size: 16px;
    font-weight: 500;
  }
}

@layer components {
  /* ハンバーガーボタン */
  .header-btn {
    display: inline-block;
    position: relative;
    width: 56px;
    height: 100%;
  }

  .header-btn span {
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 24px;
    height: 2px;
    background-color: #fff;
    transition: all 0.3s;
  }

  .header-btn span:nth-child(1) {
    top: calc(50% - 8px);
  }

  .header-btn span:nth-child(2) {
    top: 50%;
  }

  .header-btn span:nth-child(3) {
    top: calc(50% + 8px);
  }

  .header-btn.is-open span {
    left: 40%;
  }

  .header-btn.is-open span:nth-child(1) {
    top: calc(50% + 9px);
    rotate: 45deg;
  }

  .header-btn.is-open span:nth-child(2) {
    opacity: 0;
  }

  .header-btn.is-open span:nth-child(3) {
    top: calc(50% - 8px);
    rotate: -45deg;
  }

  .js-header-btn.is-open::after {
    transform: rotate(180deg);
  }

  .js-header-menu.is-open {
    transform: translateX(0);
  }

  /* PCのユーザーメニュー */
  .js-user-btn.is-open::after {
    transform: rotate(180deg);
  }

  .js-user-menu.is-open {
    transform: translateX(0);
  }

  /* フォームラベルの必須マーク */
  .required::after {
    display: inline-block;
    margin-left: 4px;
    content: '*';
    color: #ef4444;
    font-size: 20px;
    font-weight: 400;
  }

  .current {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    background-color: #1995AD;
    color: #fff;
  }

  /* 並び順のボタン */
  .js-sort-content.is-open {
    display: block;
  }

  /* ラジオボタン */
  .radio {
    position: relative;
    display: block;
    padding-left: 32px;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
  }

  .radio::before {
    position: absolute;
    top: -1px;
    left: 0;
    border: 1px solid #C8C8C8;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    background-color: #fff;
    content: "";
    z-index: 1;
  }

  .radio::after {
    display: none;
    position: absolute;
    top: 7px;
    left: 8px;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: #1995AD;
    content: "";
    z-index: 2;
  }

  /* ラジオボタンが選択された時 */
  input[type="radio"]:checked + .radio::after {
    display: block;
  }
}